<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103770512372-ebh06qnbhfqj5i8vvtkhr9d3i1f2gu9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103770512372-ebh06qnbhfqj5i8vvtkhr9d3i1f2gu9q</string>
	<key>API_KEY</key>
	<string>AIzaSyDSEkx4uiCY9PlYZHA1TzfJCVLoaPKcooA</string>
	<key>GCM_SENDER_ID</key>
	<string>103770512372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meekam.notesy</string>
	<key>PROJECT_ID</key>
	<string>notesy-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>notesy-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103770512372:ios:c72bc71166086379d537a1</string>
</dict>
</plist>